@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Play";
    src: url("/static/fonts/Play/Play-Regular.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Play";
    src: url("/static/fonts/Play/Play-Bold.ttf") format(truetype);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Jockey One";
    src: url("/static/fonts/Jockey One/JockeyOne-Regular.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

.clip-polygon-steep {
    clip-path: polygon(
        20px 0%,
        calc(100% - 20px) 0%,
        100% 10px,
        100% calc(100% - 10px),
        calc(100% - 20px) 100%,
        20px 100%,
        0% calc(100% - 10px),
        0% 10px
    );
}

.clip-polygon-octagon {
    clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
    );
}
