<!-- prettier-ignore -->
{% load static %}
{% load load_files %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'base/css/out.css' %}" />
        <link
            rel="shortcut icon"
            type="image/png"
            href="{% static 'base/img/favicon.png' %}"
        />
    </head>
    <body>
        <div
            id="baseTopbar"
            class="z-10 flex h-12 w-full items-center justify-between bg-green-n px-5"
        >
            <div class="flex items-center">
                <button
                    class="clip-polygon-octagon float-left flex size-10 items-center justify-center hover:bg-green-l-hover active:bg-green-l-onclick"
                    onclick="toggleElement('baseSidebar')"
                >
                    {% load_svg 'svg\burger_menu_button.svg' class='w-8' %}
                </button>
                <button
                    class="clip-polygon-steep float-left ml-5 flex h-9 w-max items-center bg-green-l px-4"
                >
                    {% load_svg 'svg\leaf_icon.svg' class='w-7 float-left' %}
                    <p
                        class="float-left ml-2 text-center font-jockeyone text-3xl"
                    >
                        LeafSee
                    </p>
                </button>
            </div>
            <div class="clip-polygon-steep h-7 w-max">
                <button
                    class="float-left h-full bg-green-l pl-5 pr-3 text-center hover:bg-green-l-hover active:bg-green-l-onclick"
                >
                    {% load_svg 'svg\magnifier.svg' class='w-5' %}
                </button>
                <input
                    type="text"
                    class="float-left h-full w-[500px] pl-2 pr-5 outline-none"
                    name="search"
                    placeholder="Поиск"
                />
            </div>
            {% if user.is_authenticated %}
            <div class="flex h-full w-max items-center justify-between gap-4">
                <button onclick="toggleElement('baseNotifications')">
                    {% load_svg 'svg\notification_bell.svg' class='w-6' %}
                </button>
                <button
                    class="clip-polygon-octagon flex size-8 items-center justify-center bg-white"
                    onclick="toggleElement('baseAccountSubmenu')"
                >
                    {% load_svg 'svg\user_icon.svg' class='w-7' %}
                </button>
            </div>
            {% else %}
            <div class="flex h-full w-max items-center justify-between gap-5">
                <button
                    class="clip-polygon-steep h-7 w-[140px] bg-green-l px-4 font-play hover:bg-green-l-hover active:bg-green-l-onclick"
                    onclick="toggleElement('loginWrapper')"
                >
                    Вход
                </button>
                <button
                    class="clip-polygon-steep h-7 w-[140px] bg-green-l px-4 font-play hover:bg-green-l-hover active:bg-green-l-onclick"
                    onclick="toggleElement('registrationWrapper')"
                >
                    Регистрация
                </button>
            </div>
            {% endif %}
        </div>
        <div class="top-12 flex h-[calc(100vh-3rem)] w-full">
            <div
                id="baseSidebar"
                class="z-10 flex w-64 flex-col items-start gap-5 overflow-auto bg-green-l py-5"
            >
                <div class="flex w-full flex-col gap-3 px-3">
                    <button
                        class="clip-polygon-steep h-max w-full bg-green-l px-4 text-left font-play text-2xl hover:bg-green-l-hover active:bg-green-l-onclick"
                    >
                        Главная
                    </button>
                    <button
                        class="clip-polygon-steep h-max w-full bg-green-l px-4 text-left font-play text-2xl hover:bg-green-l-hover active:bg-green-l-onclick"
                    >
                        Подписки
                    </button>
                    <button
                        class="clip-polygon-steep h-max w-full bg-green-l px-4 text-left font-play text-2xl hover:bg-green-l-hover active:bg-green-l-onclick"
                    >
                        История
                    </button>
                    <button
                        class="clip-polygon-steep h-max w-full bg-green-l px-4 text-left font-play text-2xl hover:bg-green-l-hover active:bg-green-l-onclick"
                    >
                        Понравившиеся
                    </button>
                </div>
                {% if user.is_authenticated %}
                <div class="h-px w-full bg-black"></div>
                <div class="flex w-full flex-col gap-3 px-3">
                    <p class="text-left font-play text-3xl">Подписки</p>
                    <div>
                        <button
                            class="clip-polygon-steep flex w-full items-center justify-start gap-2 bg-green-l px-3 py-1 hover:bg-green-l-hover active:bg-green-l-onclick"
                        >
                            <div
                                class="clip-polygon-octagon flex size-8 items-center justify-center bg-white"
                            >
                                {% load_svg 'svg\user_icon.svg' class='w-7' %}
                            </div>
                            <p class="font-play text-xl">Название канала</p>
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
            <main class="z-0 h-full flex-grow overflow-auto bg-gray-n p-4">
                {% block content %}{% endblock %}
            </main>
        </div>

        <div
            id="baseNotifications"
            class="clip-polygon-right absolute right-8 top-16 z-20 flex h-[520px] w-[400px] items-center justify-center bg-green-l"
        >
            <div
                class="clip-polygon-right h-[calc(100%-4px)] w-[calc(100%-4px)] bg-green-ll"
            >
                {% if notification %}
                <div
                    class="flex h-full w-full flex-col justify-start px-4 py-3"
                >
                    <div
                        class="clip-polygon-right px-4 py-2 hover:bg-green-ll-hover active:bg-green-ll-onclick"
                    >
                        <p class="font-play font-bold">
                            Вам ответили на комментарий
                        </p>
                        <p class="font-play text-sm">
                            Пользователь rubiroit ответил вам на комментарий
                            “Если я не ошибаюсь, то вилка не подходит для
                            зам...”
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="flex h-full w-full items-center justify-center">
                    <p class="text-center font-play text-5xl opacity-50">
                        Уведомлений <br />
                        нет
                    </p>
                </div>
                {% endif %}
            </div>
        </div>

        <div
            id="baseAccountSubmenu"
            class="clip-polygon-right absolute right-4 top-16 z-20 flex h-[400px] w-[220px] items-center justify-center bg-green-l"
        >
            <div
                class="clip-polygon-right flex h-[calc(100%-4px)] w-[calc(100%-4px)] flex-col items-center justify-start gap-1 bg-green-ll py-3"
            >
                <button
                    class="clip-polygon-steep w-[90%] px-4 text-left font-play text-lg hover:bg-green-l-hover active:bg-green-l-onclick"
                >
                    Личный кабинет
                </button>
                <button
                    class="clip-polygon-steep w-[90%] px-4 text-left font-play text-lg hover:bg-green-l-hover active:bg-green-l-onclick"
                >
                    Мои видео
                </button>
                <button
                    class="clip-polygon-steep w-[90%] px-4 text-left font-play text-lg hover:bg-green-l-hover active:bg-green-l-onclick"
                >
                    Выйти из аккаунта
                </button>
            </div>
        </div>

        <div
            id="loginWrapper"
            class="absolute left-0 top-0 z-[100] flex h-full w-full justify-center bg-black bg-opacity-50 pt-10"
            onclick="toggleElement('loginWrapper')"
        >
            <div
                class="clip-polygon-right z-[110] size-max"
                onclick="stopPropagation(event)"
            >
                <div class="flex h-max w-full flex-row bg-gray-d">
                    <div
                        class="clip-polygon-right-top w-1/2 bg-gray-n py-3 text-center font-play text-3xl"
                    >
                        Вход
                    </div>
                    <button class="w-1/2 py-3 font-play text-3xl">
                        Регистрация
                    </button>
                </div>
                <div class="size-max min-w-[500px] bg-gray-n p-5">
                    {% include 'authentication/login.html' %}
                </div>
            </div>
        </div>

        <script
            src="{% static 'base/js/jquery-3.7.1.js' %}"
            type="text/javascript"
        ></script>
        <script
            src="{% static 'base/js/base.js' %}"
            type="text/javascript"
        ></script>
        {% block js %}{% endblock %}
    </body>
</html>
