<form
    class="flex flex-col items-center gap-5"
    method="POST"
    action="{% url 'login' %}"
>
    {% csrf_token %}
    <div class="clip-polygon-steep size-max bg-green-l p-[2px]">
        <div class="clip-polygon-steep flex flex-row">
            <label
                class="h-full w-[210px] bg-green-l text-center font-play"
                for="login"
                >Логин или E-mail</label
            >
            <input
                id="login"
                class="w-[350px] pl-2 pr-5 outline-none"
                type="text"
                name="login"
            />
        </div>
    </div>

    <div class="clip-polygon-steep size-max bg-green-l p-[2px]">
        <div class="clip-polygon-steep flex flex-row">
            <label
                class="h-full w-[210px] bg-green-l text-center font-play"
                for="password"
                >Пароль</label
            >
            <input
                id="password"
                class="w-[350px] pl-2 pr-5 outline-none"
                type="password"
                name="password"
            />
        </div>
    </div>

    <button
        class="clip-polygon-steep w-36 bg-green-l font-play text-xl outline-none hover:bg-green-l-hover active:bg-green-l-onclick"
        type="submit"
    >
        Вход
    </button>
    <input type="hidden" name="next" value="{% url 'main' %}" />
</form>
